<h1>Reservations#edit</h1>
<p>Find me in app/views/reservations/edit.html.erb</p>


<%= form_for ([@restaurant, @reservation]) do |f| %>
	  <div class ="field">
		<%= f.label :reservation_name %><br>
		<%= f.text_field :reservation_name %><br>
	  </div>
 	  <div class="field">
	    <%= f.label :phone_number %><br/>
	    <%= f.number_field :phone_number %>
	  </div>
	  <div class="field">
	    <%= f.label :party_size %><br/>
	    <%= f.number_field :party_size %>
	  </div>
	  <div class="field">
	    <%= f.label :date %><br/>
	    <%= f.date_field :date %>
	  </div>
	  <div class="field">
	    <%= f.label :time %><br/>
	    <%= f.select_tag(:time, restaurant_time_options(@restaurant)) %>
	  </div>
	  <div class="actions">
	  	<%= f.submit "Change Your Reservation" %>
	  </div>
<% end %>

