<h1>Reservations#new</h1>
<p>Find me in app/views/reservations/new.html.erb</p>


<%= form_for ([@restaurant, @reservation]) do |f| %>
	  <div class ="field">
		<%= f.label :reservation_name %><br>
		<%= f.text_field :reservation_name %><br><br>
	  </div>
 	  <div class="field">
	    <%= f.label :phone_number %><br>
	    <%= f.number_field :phone_number %><br><br>
	  <div class="field">
	    <%= f.label :party_size %><br>
	    <%= f.number_field :party_size %><br><br>
	  </div>
	  <div class="field">
	    <%= f.label :date %><br/>
	    <%= f.date_field :date %>
	  </div>
	  <div class="field">
	    <%= f.label :time %><br/>
	    <%= f.select(:time, restaurant_times(@restaurant)) %>
	  </div>
	  <div class="actions"><%= f.submit "Reserve" %></div>
	  <br><br>
	  <%= link_to "Back to Restaurant", restaurant_path(@restaurant) %>
<% end %>
