<img src="<%= @restaurant.picture_url %>" alt="Restaurant pic">
<br>
	<%= link_to "Back to Restaurants", restaurants_all_url %>

<h2><%= @restaurant.name %></h2>
<p><strong>Capacity: </strong><%= @restaurant.capacity %></p>
<p><strong>Hours: </strong><%= @restaurant.opens_at%>:00 - <%= @restaurant.closes_at %>:00</p>
<p><strong>Description: </strong><%= @restaurant.description %></p>
<p><strong>Address: </strong><%= @restaurant.address %></p>
<p><strong>Phone: </strong><%= @restaurant.phone %></p>
<%= link_to "Make a Reservation", new_restaurant_reservation_path(@restaurant.id) %>
	<h3>Reservations</h3>

	  <p>Reservations for <%= @restaurant.name %></p>

	  <% @restaurant.reservations.each do |reserve| %>
	    <p>
	    Name: 
	    	<%= reserve.reservation_name %><br>
	    Phone Number:
			<%= reserve.phone_number %><br>
	    Party Size:
	        <%= reserve.party_size %><br>
	    Booking Date:
	    	<%= reserve.date %>
	    Booking Time:
	        <%= reserve.time %>:00
	    		<% if reserve.user != nil %><br>
	        <em> By <%= reserve.user.email %></em>
	      
	  <% end %>
		<% if reserve.user == current_user %>
			<%= link_to "Delete", restaurant_reservation_path(@restaurant, reserve), method: :delete, data: {confirm: "Are you sure you want to delete this reservation"} %>
			<%= link_to "Edit", edit_restaurant_reservation_path(@restaurant, reserve), data: {confirm: "Are you sure you want to edit your reservation?"} %>
		<% end %>

	    </p>
	  <% end %>

	
